<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alberto Clocks</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="scripts/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="javascript.js">

</head>

<body ng-app="MyApp" ng-controller="MyController">
	<input ng-model="keyword">
	<select ng-model="sort">
		<option value="product_name">Name A-Z</option>
		<option value="-product_name">Name Z-A</option>
		<option value="price">Price Ascending</option>
		<option value="-price">Price Descending</option>
	</select>
  <div class="container row">
  	<div class="col- col-sm-6 col-md-4 col-lg-3 border border-1 dropdown" ng-repeat="x in products | filter: keyword | orderBy:sort">

  		<img src="images/{{x.image}}" class="w-100 py-3">
  		<p class="hidetext text fw-bold text-center h4">{{x.product_name}}</p>
  		<p class="text-center text-decoration-line-through h5">{{x.price | currency: "USD ": 0}}</p>
  		<p class="fw-bold text-danger h3 text-center ">{{x.price | currency: "USD " : 0}}</p>
  		<div class="love"><a href="#" class="love"><i class="ion-android-favorite-outline">123</i></a></div>
  		<div class="text-center dropdown-content">
	  		<button class="add btn btn-hover color-8 btn-outline-primary">Add  <i class="fa fa-cart-arrow-down fa-beat1"></i></button>
	  		<button class="buy btn-hover color-9 btn-primary">Buy  <i class="fa-solid fa-sack-dollar fa-beat2"></i></button>
	  	</div>
  	</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/angular@1.8.3/angular.min.js"></script>

  <script src="data.js"></script>

  <script>
  	var myApp = angular.module("MyApp", []);
	  	myApp.controller("MyController", function($scope) {
				$scope.products = data;
				console.log($scope.products);
	  	});

	  
  </script>
</body>
</html>